.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
code{background:grey; border:black dashed 1px; padding:6px;color:#f5f5f5}

.active-link {
    background: rgb(55, 60, 90);
}

div:focus {
    outline: none;
}

a:focus {
    outline: none;
}

pre{
    overflow: none !important;
    padding: 8px;
}
